/* My styling */
/* .displayPlate {
  position: relative;
  box-sizing: border-box;
} */

ul {
  margin-bottom : 50px;
}

li {
    /* width: 150px;*/
    /* height: 5em;  */
    padding: 5px;
    background-color: yellow;
     box-shadow: 10px 10px 5px #888888;
    border: 1.5px solid black;
    border-radius: 10%;
    display: inline-block;
    margin: 10px !important;
    list-style-type: none;

  }

  .heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 40px;
    text-underline-position: below;
    text-decoration-style: double;
  }
  
  .textbox{
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    text-align: center;
  } 


  .regAddBtn{
  margin-right: 250px;
  }

  .errorMsg{
    color: red;
  }

  .positiveMsg{
    color: green;
  }
